{% extends 'uindx.html' %}
{% block cnt %}
<div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>About <em>What We Do</em> &amp; Who We Are</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
            <p>TalkSpace is your trusted companion in achieving better mental health and emotional well-being. We believe that everyone deserves access to quality mental health care, no matter where they are or what their schedule looks like. With TalkSpace, you can connect with licensed therapists, counselors, and mental health professionals, all from the comfort and privacy of your own space.</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Authorities</a></h4>
                <p>Find with Best Authorities to helps you</p>
                    {% if 'u_id' in request.session %}
                   <br> <div class="text-button">
                        <a href="{% url 'acrd' %}">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                    {% else  %}
                    <div class="text-button">
                      <button style="background-color: white; border: none; color:blue;"  onclick="pufn()">Read more<i class="fa fa-arrow-right"></i></button>
                    </div>
                    {% endif %}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Psychologists</a></h4>
                <p>Find with Best Psychologists to helps you</p>
                    {% if 'u_id' in request.session %}
                  <br>  <div class="text-button">
                        <a href="{% url 'pcrd' %}">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                    {% else  %}
                    <div class="text-button">
                      <button style="background-color: white; border: none; color:blue;"  onclick="pufn()">Read more<i class="fa fa-arrow-right"></i></button>
                    </div>
                    {% endif %}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Comfort Zone</a></h4>
                <p>Discuss Your own problems with peace space</p>
                    {% if 'u_id' in request.session %}
                 <br>   <div class="text-button">
                        <a href="{% url 'uexp' %}">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                    {% else %}
                    <div class="text-button">
                      <button style="background-color: white; border: none; color:blue;"  onclick="pufn()">Read more<i class="fa fa-arrow-right"></i></button>
                    </div>
                    {% endif %}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">24/7 Support &amp; Help</a></h4>
                <p>Ensure 24/7 Supports for you with free mind</p>
                    {% if 'u_id' in request.session %}
                <br>    <div class="text-button">
                        <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                    
                    {% else %}
                    <div class="text-button">
                      <button style="background-color: white; border: none; color:blue;"  onclick="pufn()">Read more<i class="fa fa-arrow-right"></i></button>
                    </div>
                    {% endif  %}
              </div>
            </div>
            <!--<div class="col-lg-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor idunte ut labore et dolore adipiscing  magna.</p>
              <div class="gradient-button">
                <a href="#">Start 14-Day Free Trial</a>
              </div>
              <span>*No Credit Card Required</span>
            </div>-->
          </div>
        </div>
        <div class="col-lg-12">
          <div class="section-heading">
            <h4>Our <em>Mission</em></h4>
            
            <p>Our mission is to break down barriers to mental health care by leveraging the power of technology. We aim to create a safe, supportive, and accessible platform where individuals can seek help, build resilience, and lead happier, healthier lives.</p>
          </div>
          <div class="section-heading">
            <h4>Why <em> Choose TalkSpace?</em></h4>
            
            <p>
              Convenient Access
Life is busy, but your mental health shouldn’t take a backseat. With TalkSpace, you can message, video chat, or speak with a therapist at a time that works for you—no need to wait for weeks or travel to appointments.

Professional Support
All of our therapists are licensed professionals with expertise in areas such as anxiety, depression, relationships, stress management, and more. You’re matched with a therapist who understands your unique needs.

Affordable Care
Mental health care should be accessible to all. TalkSpace offers flexible pricing plans and accepts various insurance providers, ensuring that cost is not a barrier to getting the help you need.

Complete Privacy
Your privacy is our priority. We use secure encryption to ensure that all communications between you and your therapist remain confidential.

Tailored Solutions
Whether you're looking for individual therapy, couples counseling, or support for teens, we provide tailored programs to suit your specific goals and challenges.
            </p>
          </div>
          <div class="section-heading">
            <h4>Our <em>Vision</em></h4>
            
            <p>We envision a world where mental health care is a universal right, not a privilege. By making therapy accessible and stigma-free, we hope to empower millions to thrive emotionally, socially, and mentally.</p>
          </div>
          <center><i>With TalkSpace, you’re never alone in your mental health journey. Take the first step today—because you deserve to feel your best, every single day.</i></center>
        </div>
        <!--<div class="col-lg-6">
          <div class="right-image">
            <img src="assets/images/about-right-dec.png" alt="">
          </div>
        </div>-->
      </div>
    </div>
  </div>
{% endblock %}