{% extends 'uindx.html' %}
{% block cnt %}
<div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>We Have The Best  <em>Authorities</em> You Can Get Intract</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor incididunt ut labore et dolore magna.</p>
          </div>
        </div>
        {% for i in a %}
        <center>
          <div class="col-lg-4">
            <div class="pricing-item-regular">
              <!--<span class="price">$12</span>-->
              <h4>{{i.atname}}</h4>
              <div class="icon">
                <img src="{{i.atprf.url}}" alt="">
              </div>
              <ul>
                <li>{{i.atmail}}</li>
              </ul>
              <div class="border-button">
                <a href="{% url 'atapnt'  i.id %}">Make an Appointment</a>
              </div>
            </div>
          </div>
        </center>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}