{% load static%}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Chain App Dev - App Landing Page HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-chain-app-dev.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="{% static 'assets/images/logo.png' %}" alt="Chain App Dev">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              
              {% if 'u_id' in request.session %}
              <li class="scroll-to-section"><a href="{% url 'ui' %}" >Home</a></li>
              <li class="scroll-to-section"><a href="{% url 'abt' %}">About</a></li>
              <li class="scroll-to-section"><a href="{% url 'acrd' %}">Authorities</a></li>
              <li class="scroll-to-section"><a href="{% url 'pcrd' %}">Psychologists</a></li>
              <li class="scroll-to-section"><a href="{% url 'uexp' %}">User Discussion</a></li>
              <li class="scroll-to-section"><a href="{% url 'cont' %}">Contact</a></li>
              <li class="scroll-to-section" style="padding-left: 0px;"></li>
			        <li class=""><a href="">welcome {{request.session.username_u}}</a></li>
			        <li class="scroll-to-section"><a href="{% url 'logout' %}">Logout</a></li>
			        {% else %}
              <li class="scroll-to-section"><a href="{% url 'ui' %}" >Home</a></li>
              <li class="scroll-to-section"><a href="{% url 'abt' %}">About</a></li>
              <li class="scroll-to-section"><a href="{% url 'log' %}">Login</a></li>
              <li class="scroll-to-section"><a href="{% url 'reg' %}">Register</a></li>
              {% endif %}
            </ul>        
            <!--<a class='menu-trigger'>
                <span>Menu</span>
            </a>-->
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>T A L K A R E N A</h2>
                    <p>Talkarena provides you the best open space for open your feelings and experience.It ensures the good platform and atmosphere for your talking</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="white-button first-button scroll-to-section">
                      <a href="#contact">Free Quote <i class="fab fa-apple"></i></a>
                    </div>
                    <div class="white-button scroll-to-section">
                      <a href="#contact">Free Quote <i class="fab fa-google-play"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'assets/images/slider-dec.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block cnt %}
  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Our <em>Authorities </em> for you</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
            <p>If you need the greatest collection of HTML templates for your business, please visit <a rel="nofollow" href="https://www.toocss.com/" target="_blank">TooCSS</a> Blog. If you need to have a contact form PHP script, go to <a href="https://templatemo.com/contact" target="_parent">our contact page</a> for more information.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {% for i in a %}
        <div class="col-lg-4">
          <div class="service-item first-service">
            <!--<div class="icon"></div>-->
            <h4>{{i.atname}}</h4>
            <p>You are not allowed to redistribute this template ZIP file on any other website.</p>
            
            <div class="text-button">
              <a href="{% url 'asng' i.id %}">View More Info<i class="fa fa-arrow-right"></i></a>
            </div>
            
          </div>
        </div>
        {% endfor %}
        <!--<div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Rocket Speed of App</h4>
            <p>You are allowed to use the Chain App Dev HTML template. Feel free to modify or edit this layout.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Multi Workflow Idea</h4>
            <p>If this template is beneficial for your work, please support us <a rel="nofollow" href="https://paypal.me/templatemo" target="_blank">a little via PayPal</a>. Thank you.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>24/7 Help &amp; Support</h4>
            <p>Lorem ipsum dolor consectetur adipiscing elit sedder williamsburg photo booth quinoa and fashion axe.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>

   

  <div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>We Have The Best Experienced  <em>Psychologists</em> You Can Interact</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
            <p>You can connect with our best psychologists and find solutions.</p>
          </div>
        </div>
        {% for i in p %}
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <!--<span class="price">$12</span>-->
            <h4>{{i.pname}}</h4>
            <div class="icon">
              <img src="{{i.pprf.url}}" alt="">
            </div>
            <!--<ul>
              <li>Lorem Ipsum Dolores</li>
              <li>20 TB of Storage</li>
              <li class="non-function">Life-time Support</li>
              <li class="non-function">Premium Add-Ons</li>
              <li class="non-function">Fastest Network</li>
              <li class="non-function">More Options</li>
            </ul>-->
            
            <div class="border-button">
              <a href="{% url 'psng' i.id %}">View More Info</a>
            </div>
            
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div> 
  {% if 'u_id' in request.session %}
  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown animated" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible;-webkit-animation-duration: 1s; -moz-animation-duration: 1s; animation-duration: 1s;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
            <h4>You Can View Your <em>Authority Booking histories &amp; Psychologist's Booking histories</em> Here..</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>Authority Booking History</h4>
            <p>You can check your Authority bookings is approved or not here.</p>
            
            <div class="text-button">
              <a href="{% url 'atapntst' %}">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
            
          </div>
        </div>
        <div class="col-lg-6">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Psychologist Booking History</h4>
            <p>You can check your Psychologist bookings is approved or not here.</p>
            
            <div class="text-button">
              <a href="{% url 'papntst' %}">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  {% endblock %}
  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Join our Platform and Lear more &amp; find a Peace Mind</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Us</h4>
            <p>Thasna Sherin AK, Kerala - Kochi</p>
            <p><a href="#">9544398326</a></p>
            <p><a href="mailto:thasnasherin@gmail.com">thasnasherin@gmail.com</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Us</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Psychologists</a></li>
              <li><a href="#">Authorities</a></li>
           
            </ul>
            <ul>
              <li><a href="#">Discussion Platform</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Registration</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Free Apps</a></li>
              <li><a href="#">App Engine</a></li>
              <li><a href="#">Programming</a></li>
              <li><a href="#">Development</a></li>
              <li><a href="#">App News</a></li>
            </ul>
            <ul>
              <li><a href="#">App Dev Team</a></li>
              <li><a href="#">Digital Web</a></li>
              <li><a href="#">Normal Apps</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Our App</h4>
            <div class="logo">
              <img src="assets/images/white-logo.png" alt="">
            </div>
            <p>TalkArena is your trusted companion in achieving better mental health and emotional well-being. We believe that everyone deserves access to quality mental health care, no matter where they are or what their schedule looks like. With TalkSpace, you can connect with licensed therapists, counselors, and mental health professionals, all from the comfort and privacy of your own space..</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2022 Chain App Dev Company. All Rights Reserved. 
          <br>Design: <a href="#" target="_blank" title="css templates">Thasna Sherin AK</a><br>
        
          Template Supported By: <a href="https://themewagon.com/" target="_blank" title="Bootstrap Template World">ThemeWagon</a>
        </p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'assets/js/animation.js' %}"></script>
  <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
  <script src="{% static 'assets/js/popup.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script>
    function pufn() 
    {
      alert("Login to see contents!!");
    }
  </script>
</body>
</html>