{% extends 'aindx.html' %}
{% block cnt %}
<div class="bg-secondary rounded h-100 p-4">
    <h6 class="mb-4">Bully Words</h6>
    {% for i in inf %}
    <form action="{% url 'blup' i.id %}" method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Enter words" name="bl" value="{{i.bwrd}}">
            <label for="floatingInput">Words</label>
        </div>
        <div class="form-floating mb-3">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
    {% endfor %}
</div>
{% endblock %}